services:
  coqui-server:
    container_name: coqui-tts-server
    build: .
    image: coqui-tts-server:latest
    ports:
      - "8000:8000"
    volumes:
      - ./data/models:/root/.local/share/tts # Persist downloaded models
    env_file:
      - .env
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
